* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(green-natural-background-with-wooden-surface-free-image.webp);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

header {
    background-image: url(grunge-plaster-cement-concrete-wall-texture-red-color-with-scratches.jpg);
    background: transparent;
    position: relative;
    align-items: center;
    border: 0.5px solid black transparent;
    backdrop-filter: blur(10px);
    border-bottom: 2px rgb(1, 56, 1);
}

header h1 {
    text-align: center;
    align-items: center;
    padding: 20px 0 10px 0;
    color: rgb(34, 33, 33);
    font-weight: 200;
    font-family: fantasy;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 200;
    padding: 10px 0;
    border-bottom: 1px solid rgba(210, 226, 179, 0.493);
    position: relative;
    height: 50px;

}

.content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;

}

.content p {
    margin: 0 40px 0 40px;
    padding: 5px;
}

.login {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

button {
    margin-right: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.help {
    margin-right: 40px;
}

.container :hover {
    cursor: pointer;
}

.content :hover {
    position: relative;
    font-size: 16.5px;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    backdrop-filter: 5px;
}

.help:hover {
    position: relative;
    font-size: 16.5px;
    transition: 0.2s ease-in-out
}

button:hover {
    background-color: #a7a4a4;
    border: .10px solid #a7a4a4;
    position: relative;
    font-size: 14.5px;
    transition: 0.2s ease-in-out;
}

.destination {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    border-top: 2px solid rgb(158, 149, 149);
    border-bottom: 2px solid rgb(158, 149, 149);
    outline: none;

}

.photo {
    border-radius: 5px;
    heighT: 145px;
    margin: 0 50px 0 5PX;
}

.wedding {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    border-bottom: 2px solid rgb(158, 149, 149);
    outline: none;
    margin-top: 2px;
}

footer {
    padding: 12px 10% 0 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: black;

}

.footer {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icon {
    border-radius: 50%;
    height: 30px;
    margin-right: 20px;
}